/* img{
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
    
} */

nav{
    /* background-color: grey; */
    font-weight: bold;
    background: aliceblue;
}

nav a:hover{
    color: green;
}
.carousel-inner{
    align-items: center;
    justify-content: center;
    width: 85rem;
    /* height: 30rem; */
}

.carousel-inner img{
    height: 30rem;
    width: 50rem;
    object-fit: cover;
}

.container-fluid {
    box-shadow: 5px #000;
}

.card-img-top{
    width: 300px;
    height: 250px;
    margin: 5px;    
}

.icons{
    font-size: 25px;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
    /* margin: 20px; */
    padding: 20px;
}

.icons a{
margin: 20px;
}

.icons a :hover {
    /* background-color: blue; */
    font-size: 20px;
color: black;
    /* border-radius: 5px; */
}
